{% extends 'main.html' %}

{% block content %}

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-red w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" ></a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About Us</a>
            <a href="{% url 'adminlogin' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Admin</a>
            <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">User</a>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
            <a href="#" class="w3-bar-item w3-button w3-padding-large">About Us</a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large">Admin</a>
            <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-padding-large">User</a>
        </div>
    </div>

    <!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding:128px 16px">
        <h1 class="w3-margin w3-jumbo">STUDENT GRIEVANCE SYSTEM</h1>
        <p class="w3-xlarge">One Stop Solution To Raise Complaints</p>
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Student Grievance System</h1>
                <h5 class="w3-padding-32">The goal of a Student Grievance System is to ensure that students are able to voice their concerns and have them addressed fairly and impartially, while also promoting a positive and productive learning environment. Grievances may include issues related to grading, classroom conduct, discrimination, harassment, or other issues that may impact a student's ability to succeed academically.</h5>

                <p class="w3-text-grey">The system typically involves a process for students to raise their concerns, and for the institution to investigate and respond to those concerns in a timely and effective manner.The specifics of a Student Grievance System may vary depending on the institution, but it typically involves a clear process for submitting grievances, a designated office or individual responsible for handling grievances, and a set of procedures for investigating and responding to grievances. Some institutions may also have an appeals process for students who are not satisfied with the initial outcome of their grievance.</p>
            </div>
        </div>
    </div>

{% endblock %}
            
            
       